body {
  background-color: #e7e5e5;
  box-sizing: border-box;
}
.ventana {
    position: absolute;
    width: 500px;
    border: 1px solid #000;
    background-color: #fff;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 1;
}
.barra {
    position: relative;
    border: 1px solid #000;
    background-color: lightblue;
}

.titulo {
    font-size: larger;
    font-weight: bold;
}

.cerrar {
    position: absolute;
    border: 1px solid #000;
    background-color: lightcoral;
    right: 0%;
    top: 0%;
    height: calc(100% - 1px);
    cursor: pointer;
}